target_dir /data

stream_port=0
output_pictures off
ffmpeg_video_codec mp4

threshold 500
width 640
height 480
framerate 15
pre_capture 5
post_capture 5

netcam_url = rtsp://user:pass@example.com/Streaming/Channels/102
movie_filename %Y/%m/%d/%H-%M-%S-camera1